body {
    margin: 0;
    padding: 0;
    background: rgba(58, 146, 228, 0.986);
}
#container {
    outline: 1px solid black;
    background: #026AA7;
    
}
.seach {
    outline: 1px solid black; 
    display: inline-block;
    position: relative;
    height: 35px;
    top: 30px;
    background: rgba(255,255,255,.3);
    
    
    
}
/*.con1 {
    display: inline-block;
    outline: 1px solid rosybrown;
}*/
input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    
}
.ico {
    outline: 1px solid red;
    width: 10%;
    height: 35px;
    display: inline-block;
    margin: 10px;
    color: #f3f3f3;
    background: rgba(255,255,255,.3);
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 600;
    
}
.ico .icon-trello {
    position: relative;
    top: 3px;
    font-size: 18px;
    margin :5px;
    color: #fff;
}
.trello {
    outline: 1px solid green;
    display: inline-block;
    height: 50px;
   position: relative;
   left: 200px;
   
    
    
}

.icon-search {
  outline:1px solid purple; 
  position: relative;
  bottom: 30px;

}
#container-icono {
    outline: 1px solid blue;
    width: 200px;
    /*+display: inline-block;*/
    float: right;
    position: relative;
    top: 20px;
    

    
}
.lista {
    outline: 1px solid black;
    display: inline-block;
    
}
a {
    outline: 1px solid gold;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
.icono {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 7px;
    
    
}
h2 {
    outline: 1px solid red;
    display: inline-block;
}
.icon-info {
    font-size: 13px;
    padding: 5px;
    position: relative;
    bottom: 5px;
}
#info {
    outline: 1px solid red;
    border-radius: 50px;
}
#user a {
    border-radius: 10px;
}
/*section*/
section {
    outline: 1px solid black;
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
    
}
.tab {
    outline: 1px solid yellow;
    display: inline-block;
    margin: 10px;
    font-weight: 650;
}


.tab1 {
    outline: 1px solid green;
    display: inline-block;
    margin: 10px;
    
}
.menu {
    outline: 1px solid blue;
    float: right;
    margin: 10px;
}
#boton-form {
   /* outline: 1px solid red;*/
    width: 22%;
    height: 35px;
    margin-left: 10px;
    font-family: none;
    
    
}
.ancla {
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #026AA7;
    opacity: 0.7;
    padding-right: 5px;
}
.container-form {
    outline: 1px solid white;
    /*display: inline-block;*/
    position: relative;
    left: 10px;
    width: 22.5%;
    background: #E2E4E6;
    
}

#conte {
    display: none;
}
#save {
    outline: 1px solid black;
    width: 30%;
    margin: 3px;
    margin-left: 6px;
    background: #5AAC44;
    border: none;
    color: #fff;
    
}
#textarea {
    width: 90%;
    margin: 5px;
    border: none;
}
button {
  height: 30px;
  width: 80px;
  position: relative;
  /*top:30px; 
  right: 165px;*/
  background:#5AAC44; 
  color: #fff;
  margin: 5px;
  border: none;
}
li {
    outline: 1px solid blue;
    display: inline-block;
    text-align: center;
    width: 23.5%;
    position: relative;
    right: 27px;
    background: #E2E4E6;
    
}
textarea {
    width: 90%;
    height: 70px;
    margin: 10px;
}