@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r06q49');
  src:  url('fonts/icomoon.eot?r06q49#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r06q49') format('truetype'),
    url('fonts/icomoon.woff?r06q49') format('woff'),
    url('fonts/icomoon.svg?r06q49#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e901";
}
.icon-plus2:before {
  content: "\e902";
}
.icon-star-outlined:before {
  content: "\e904";
}
.icon-bell:before {
  content: "\e951";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-trello:before {
  content: "\eab3";
}
